
*,body,::after,::before{
  padding: 100;
  margin: 100;
  box-sizing: border-box;
  --dark:#222;
  --button:green;
  --box:gold;
  --color:black;
}
.front{
  background-color: var(--box);
 }
 .input{
   background-color: var(--dark);
 }
 .time{
   background-color: var(--box);
 }
.root{
  display: flex;
  flex-direction:row;
  background-color: var(--button);
  padding: 10px;
}
